{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}
<h2 class="message">{{ message }}</h2>
<div id="products" class="products">
{% for product in products %}
    <div class="products__item">
        <img class="products__image" src="{{ product.photo }}" alt="">
        {% if session.is_logged %}
            {% if product.name in session.cart %}
                <img class="add_to_cart" src="/static/src/clear_cart.png" alt="{{ product.name }}" onclick="this.src.includes('clear') ? this.src='/static/src/add_to_cart.gif' : this.src='/static/src/clear_cart.png';">
            {% else %}
                <img class="add_to_cart" src="/static/src/add_to_cart.gif" alt="{{ product.name }}" onclick="this.src.includes('clear') ? this.src='/static/src/add_to_cart.gif' : this.src='/static/src/clear_cart.png';">
            {% endif %}
            {% if product.name in session.saved %}
                <img class="bookmark" src="/static/src/bookmarked.png" alt="{{ product.name }}" onclick="this.src.includes('bookmarked') ? this.src='/static/src/bookmark.png' : this.src='/static/src/bookmarked.png';">
            {% else %}
                <img class="bookmark" src="/static/src/bookmark.png" alt="{{ product.name }}" onclick="this.src.includes('bookmarked') ? this.src='/static/src/bookmark.png' : this.src='/static/src/bookmarked.png';">
            {% endif %}
        {% endif %}
        <p class="products__name" onclick="location.href = '{{ url_for("get_product", product_name=product.name) }}'">{{ product.name }}<br>{{ product.price }}</p>
    </div>
{% endfor %}
</div>
{% if title == 'Cart' and session.cart %}
    <span class="makeorderbutton">Make order</span>
<!--    <span class="makeorderbutton" onclick="location.href='{{ url_for("make_order") }}'">Make order</span>-->
    <span class="summoforder">Total price: {{ summa }}</span>
{% endif %}
<script>
    $('.makeorderbutton').click(function() {
        let summa = $('.summoforder').html().slice(13)
        $.ajax({
            url: '{{ url_for('make_order') }}',
            method: 'post',
            dataType: 'html',
            data: {summa},
            success: function(data) {
                location.reload()
            }
        })
        alert('Order created!')
    })

    $('.bookmark').click(function() {
        let toSave = this.alt
        $.ajax({
            url: '{{ url_for('set_saved') }}',
            method: 'post',
            dataType: 'html',
            data: {toSave},
            success: function(data) {
                return data
            }
        })
    })

    $('.add_to_cart').click(function() {
        let toCart = this.alt
        $.ajax({
            url: '{{ url_for('set_cart') }}',
            method: 'post',
            dataType: 'html',
            data: {toCart},
            success: function(data) {
                location.reload()
            }
        })
    })
</script>
{% endblock %}